* {
    padding: 0%;
    margin: 0%;
}

body {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Navigation Bar */
#navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: white;
}

nav button {
    padding: 10px 16px;
    /* margin: 10px; */
    font-size: 13px;
    color: rgb(6, 6, 6);
    border: none;
    background-color: #fa0895;
    border-radius: 8px;
}

nav button:hover {
    background-color: #b40f70;
}

nav button a {
    text-decoration: none;
    color: white;
}

/********* Home Section Started **************/

.home-bg {
    background: url('images/hero_image_desktop.jpg');
    background-repeat: no-repeat;
    /* height: 122vh; */
    /* width: 100%; */
    background-size: cover;
    flex-direction: column;
    display: flex;
    padding-top: 90px;
    padding-left: 90px;
    /* opacity: 0.40; */

}

.h-primary {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    width: 28%;
    padding-bottom: 18px;
}

.heading {
    font-size: 34px;
}

.h-primary :nth-child(2) {
    font-size: 20px;
}

.registration-foam {

    width: 31%;
    background-color: white;
    /* height: 85vh; */
    border-radius: 10px;

}

.first-heading {
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0px 0px 8px #80808087;
    border-radius: 10px;
}

.first-heading h4 {
    padding-bottom: 20px;
    font-size: 20px;


}

.registration-text input {
    padding: 16px 13px;
    border: none;
    background-color: #d4d4d4;
    color: #a39d9d;
    font-size: 14px;
    border-radius: 4px;
}

.registration-text input:hover {
    border: 1px solid black;

}

.registration-text select {
    padding: 20px 12px;
    border: none;
    background-color: #d4d4d4;
    /* color: #a39d9d; */
}

.registration-text a {
    padding: 16px 12px;
    border: none;
    background-color: #fa0895;
    color: white;
    text-decoration: none;
    text-align: center;
}

.registration-text {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* ******** Home Section Ended **********  */

/* ******** CARDING Section STARTED **********  */

#sec-2 {
    /* height: 110vh; */
    padding-bottom: 80px;
}

.sec-2-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    font-size: 26px;
    padding-top: 150px;
}

.sec-2-carding {
    display: flex;
    width: 90%;
    margin: auto;
    line-height: 25px;
}

.card-1 {
    width: 34%;
    align-items: center;
    text-align: center;
    padding: 20px 23px;
}

.card-3 {
    padding-bottom: 45px;
}

/* ******** CARDING Section Ended **********  */

/* ******** MAGAZINE Section STARTED **********  */

.sec-3-megazine {
    width: 99.5%;
    background-color: #fa0895;
    /* height: 76vh; */
}

.megazine-img {
    position: relative;
    top: -80px;
    width: 84.5%;
    border-radius: 15px;
    margin: auto;

}

.megazine-img img {
    border-radius: 9px;
    width: 100%;
}

.sec-3-img {
    background: url(images/testimonial_story_desktop.avif);
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    justify-content: end;
    align-items: center;
    height: 492px;
    border-radius: 15px;
}

.sec-3-heading {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 10;
    width: 40%;
}

.sec-3-heading h3 {
    font-size: 45px !important;
}

.sec-3-heading :nth-child(2) {
    font-size: 18px !important;
    font-weight: 600 !important;
    padding-bottom: 7px;
}

.sec-3-heading :nth-child(3) {
    font-size: 18px;
    font-weight: 600;

}

.sec-3-heading :nth-child(4) {
    font-size: 14px;
    color: #bfbdbd;
}

.megazine-img::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    border-radius: 15px;

}

/* ******** MAGAZINE Section Ended **********  */

/* ******** FOURTH Section STARTED **********  */

.sec-4-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
}

.services-card {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.sec-4-card-1 {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 13px;
    background-color: #a39d9d1c;
    margin: 0px 10px;
    border-radius: 10px;
    line-height: 28px;
    /* height: 41vh; */

}

.sec-4-card-1 img {
    width: 50%;
    padding: 15px;
}

.top-image-fix {
    position: relative;
    top: -35px;
}

/* ******** FOURTH Section ENDED **********  */

/* **********COLOR PINK TEXT CSS************ */
p {
    margin-bottom: 0 !important;
}

h3 {
    font-size: 22px !important;
}

h1 {
    font-weight: bold !important;
}

.color-pink-text {
    color: #ee048c;
}

/* **********COLOR PINK TEXT CSS************ */


/* ******** Fifth Section (STORY) Started **********  */

#sec-5 {
    background-color: #fa0895;
    /* display: flex; */

}

.stories {
    width: 100%;
    /* display: flex; */
}

.sec-5-stories {

    display: flex;
}

.img {
    width: 50%;
}

.img img {
    width: 100%;
    height: 100%;
}

.story {
    width: 50%;
    font-size: 36px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: white;
}

.story :nth-child(1) {
    padding: 0px 81px;
    font-weight: 300;
}

.story :nth-child(2) {
    padding: 0px 81px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
}

.story :nth-child(3) {
    padding: 0px 81px;
    font-size: 11px;
    color: #d3d3d3cc;

}


/* ******** Fifth Section (STORY) Ended **********  */


/* ******** Sixth Section (Acccordion) Started **********  */

#sec-6 h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.sec-6-accordion {

    width: 50%;
    margin: auto;
    padding-bottom: 80px;

}

.accordion-button {
    font-weight: 400 !important;
    font-size: 22px !important;
    color: black !important;

}

.accordion-body {
    color: #726d6d !important;
    font-size: 17px !important;
    font-weight: 450 !important;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}


#footer {
    background-color: rgba(128, 128, 128, 0.158);

}

.footer {

    display: flex;
    padding-left: 80px;
    padding-top: 68px;
    padding-right: 19px;
}

.footer-logo {

    /* width: 48%; */
    position: relative;
    /* top: 30px; */
}

.footer-link {
    width: 20%;
}

.footer-playstore-appstore {
    width: 25%;
}

.footer-fix-container {
    display: contents;
}

.footer-link li a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    padding-bottom: 10px;
}

.footer-link li a:hover {
    text-decoration: underline;
}

.footer-link ul {
    list-style: none;
}

.footer-link li {
    color: grey;
    font-weight: 500;
    padding-bottom: 10px;
    width: 50%;
    padding-bottom: 18px;

}

.footer-link-2 {
    /* display: flex; */
    width: 20%;

}


.footer-bottom {
    padding: 30px 0px;
    width: 87%;
    margin: auto;
}

.hrline-2 {
    width: 87%;
    margin: auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    /* padding: 0px 59px; */
    padding-left: 25px;
    width: 100%;
    justify-content: end;
    align-items: start;
}

.hrline {
    display: none;
    visibility: hidden;
}

ul {
    margin-left: 0 !important;
    padding-left: 0 !important;
}


/* Media Queries  */

@media only screen and (min-width: 1025px) and (max-width: 1699px) {
    /* .home-bg {
        height: 73vh;

    } */

    .h-primary {
        width: 30%;
    }

    .registration-foam {
        width: 30%;

    }
}


@media only screen and (min-width: 1700px) {
    .h-primary {
        width: 16%;
    }

    #sec-5 {
        width: 60%;
        margin: auto;
    }

    .registration-foam {
        width: 16%;

    }

    .sec-3-megazine {
        height: 45vh;
    }

    .megazine-img {
        width: 48.5%;
        margin: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .h-primary {
        width: 40%;
    }

    .registration-foam {
        width: 40%;

    }

    .home-bg {
        background-size: cover;
        background-position: center;
    }

    /* .sec-3-megazine {
        height: 84vh;
    } */

    .sec-3-heading {
        width: 50%;
        margin-right: 273px;
    }

    .img img {
        height: 100vh;
        object-fit: cover;
    }

    .footer-link {
        justify-content: flex-end;
    }

    .footer-link-1 {
        width: 35%;
    }

    .footer-link-2 {
        width: 28%;
    }

    .footer-playstore-appstore {
        width: 15%;
    }
}

@media only screen and (min-width: 431px) and (max-width: 768px) {

    .registration-foam {
        width: 50%;
    }

    .h-primary {
        width: 50%;
    }

    .home-bg {
        justify-content: center;
        align-items: center;
        background-position: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 65px;
        text-align: center;
    }

    .sec-3-heading {
        width: 74%;
        margin: auto;
    }

    .sec-3-heading h3 {
        font-weight: bold !important;
        font-size: 48px !important;
    }

    .sec-3-img {
        height: 300px;
        background-size: cover;
    }

    .megazine-img {
        width: 73.5%;
    }

    .h-primary :nth-child(2) {
        font-size: 16px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-playstore-appstore img {
        width: 48%;
    }

    .footer-link {
        width: 36%;
        font-size: 14px;
    }

    .footer-links {
        justify-content: right;

    }

    .footer-bottom {
        width: 75%;
    }

    .footer {
        display: flex;
        padding: 0px 60px;
        padding-top: 50px;
    }

    .sec-2-carding {
        width: 50%;
        flex-wrap: wrap;
        margin: auto;

    }

    .card-1 {
        width: 100%;
    }

    .services-card {
        flex-wrap: wrap;
        margin: auto;
        width: 45%;

    }

    .sec-4-card-1 {
        width: 100%;
        margin-bottom: 25px;
    }

    .sec-5-stories {
        flex-direction: column;
    }

    .story {
        width: 100%;
        font-size: 26px;
        text-align: center;
        padding: 12px 0px;
    }
}


@media screen and (max-width: 430px) {
    .registration-foam {
        width: 100%;
    }

    .h-primary {
        width: 100%;
    }

    .heading {
        font-size: 25px;

    }

    .h-primary :nth-child(2) {
        font-size: 15px;
    }

    .home-bg {
        justify-content: center;
        align-items: center;
        background-size: contain;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 30px;
        text-align: center;
    }

    #sec-2 {
        text-align: center;
        padding: 0px 20px;
    }

    .sec-3-img {
        width: 100%;
        height: 40vh;
        background-size: cover;
    }

    .megazine-img {
        width: 93.5%;
    }

    .sec-3-heading {
        text-align: center;
        width: 100%;
        /* position: relative;
        top: 215px; */
    }

    .sec-3-heading h3 {
        font-size: 30px !important;
        font-weight: bold;
    }

    .sec-3-heading :nth-child(2) {
        font-size: 16px !important;
    }

    .sec-3-heading :nth-child(3) {
        font-weight: bold;

        font-size: 18px !important;
    }

    .sec-3-heading :nth-child(4) {
        font-size: 14px !important;
    }

    .sec-4-heading {
        text-align: center;
    }

    .sec-5-stories {
        flex-direction: column;
    }

    .story {
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding: 12px 0px;
    }

    .story :nth-child(1) {
        padding: 0px 13px;
    }

    .img {
        width: 100%;
    }

    #sec-6 h3 {
        padding: 40px 0px;
    }

    .sec-6-accordion {
        width: 100%;
    }

    .accordion-button {
        font-size: 14px !important;
    }

    .footer {
        padding: 26px 20px;
        flex-direction: column;

    }

    .stories-2 {
        flex-direction: column-reverse;
    }

    .footer-logo {
        display: flex;
        width: 100%;
        padding-bottom: 17px;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img {
        width: 75%;
    }

    .footer-fix-container {
        display: flex;
        width: 100%;
        justify-content: start;
    }

    .footer-link {
        width: 50%;
    }

    .footer-links {
        flex-direction: column;
        padding: 0px 0px;
        padding-top: 33px;
        font-size: 15px;
    }

    .footer-links-1 {
        width: 61%;
    }

    .footer-playstore-appstore {
        width: auto;
    }

    .footer-playstore-appstore img {
        padding: 0px 3px;
    }

    .footer-bottom {
        align-items: center;
        font-size: 10px;
    }

    .sec-2-carding {
        width: 95%;
        flex-wrap: wrap;
        margin: auto;

    }

    .card-1 {
        width: 100%;
        padding-bottom: 15px;
    }

    .card-3 {
        padding-bottom: 100px;
    }

    .services-card {
        flex-wrap: wrap;
        margin: auto;
        width: 67%;

    }

    .sec-4-card-1 {
        width: 100%;
        margin-bottom: 25px;
    }

    .hrline {
        display: block;
        visibility: visible;
        padding: 10px;
    }

}

@media screen and (max-width: 375px) {
    .home-bg {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }

    .h-primary {
        width: 100%;
    }

    .heading {
        font-size: 30px;
    }

    .h-primary :nth-child(2) {
        font-size: 15px;
    }

    .services-card {
        flex-wrap: wrap;
        margin: auto;
        width: 76%;

    }

    .sec-4-card-1 {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 320px) {
    #navbar {
        width: 92%;
    }

    .home-bg {
        padding-left: 8px;
        background-size: contain;
        padding-right: 8px;
        padding-top: 0px;
    }

    .heading {
        font-size: 25px;
    }

    .h-primary :nth-child(2) {
        font-size: 12px;
    }

    .h-primary {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
    }

    .services-card {
        flex-wrap: wrap;
        margin: auto;
        width: 82%;
    }
}

/* ********Section 3 Megazine text Fix Media Queries ******** */

@media screen and (max-width:768px) {
    .sec-3-heading-big-screen {
        display: none;

    }

    .megazine-img::before {
        visibility: hidden;
    }

    .sec-3-heading-small-screen {
        padding-top: 24px;
        width: 100%;
        text-align: center;
    }

    .sec-3-heading :nth-child(2) {
        font-weight: 400 !important;
        padding-bottom: 7px;
    }

    .small-display-none {
        display: none;
    }

    .card-first {
        padding-bottom: 100px;
    }

    .card-2 {
        padding-bottom: 120px;
    }

    .card-3 {
        padding-bottom: 100px;
    }

    .sec-2-carding {
        width: 100%;
        /* flex-wrap: wrap; */
        margin: auto;
    }

    .carousel-control-next-icon {
        display: none !important;
    }

    .carousel-control-prev-icon {
        display: none !important;
    }

    .stories-2 {
        flex-direction: column-reverse;
    }

    #sec-5 {
        background-color: #fa0895;
        width: 70%;
        margin: 0px auto;
        border-radius: 12px;
    }

    .img img {
        border-radius: 12px 12px 0px 0px;
        width: 200%;
    }
    .mobile-view-block{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .sec-3-heading-small-screen {
        display: none;
    }

    .carousel-display {
        display: none;
    }
   #carouselExampleControls{
        display:none;
    }
}

@media only screen and (max-width: 430px){
    #sec-5{
        width: 92%;
        margin: auto;
    }
    .img img{
        width: 100%;
    }
    .mobile-view-block{
        display: none;
    }
}